.header__busqueda {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: v.$transparencia;
    padding: 30px;
    border-radius: v.$border-radius;
    max-width: 500px;
    row-gap: 10px;
}

input#pais, select#ciudad, label {
    font-size: v.$h3;
    color: v.$negro;
    font-weight: v.$bold;
}

input#pais, select#ciudad {
    max-width: 230px;
    width: 100%;
}

.valor-adicional p {
    font-size: v.$h3;
    color: v.$negro;
    font-weight: v.$bold;
}
