@use '../base/variables' as v;
@use '../base/mixins' as m;

.header__busqueda {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: v.$transparencia;
    backdrop-filter: v.$blur;
    padding: 30px;
    border-radius: v.$border-radius;
    max-width: 500px;
    row-gap: 10px;
    align-items: center;
    margin-bottom: 5em;
}

.container__input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

.item1 {
    grid-column: span 2;
}

.item2 {
    grid-column: span 2;
}

.item3 {
    grid-column: span 2;
}

input#pais, select#ciudad, label {
    font-size: v.$h3;
    color: v.$negro;
    font-weight: v.$bold;
}

input#pais, select#ciudad {
    max-width: 230px;
    width: 100%;
}

.valor__adicional p {
    font-size: v.$h3;
    color: v.$negro;
    font-weight: v.$bold;
}

#resultado {
    font-size: v.$h3;
    color: v.$negro;
    font-weight: v.$bold;
}